/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap"); */

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
  cursor: none;
}

body.day-theme {
  background-color: #f0f0f0;
  color: #333;
}

body.night-theme {
  background-color: #333;
  color: #f0f0f0;
}

/* :root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #323232;
} */

body {
  font-family: "Comic Sans MS", sans-serif;
  font-size:x-large;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.about-me-container {
  display: flex;
}

.about-me-text-container {
  position:absolute;
  top:50%;
  left:50%;
  /* margin-right: var(--spacing-3); */
  transform: translate(-50%, -50%);
  /* border: 3px solid #73AD21; */
  width:65%;
  height: 80%;
}

footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}

.heart {
  color: red;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  margin: 10px; /* Add some spacing */
}

#custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}

.icons {
  text-decoration: none;
  color: inherit;
}
.icons:hover {
  color: grey;
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
}
